body{
    background-color:#f2f2f2;
    font-family: serif;
    margin:0;
}

/* header styling */
header{
    background-color:#d9d9d9;
    padding:20px;
}

/* main content */
main{
    padding:20px;
}

section{
    margin-bottom:20px;
}

section p{
    background-color:#d9d9d9;
    padding:15px;
}

/* footer styling */
footer{
    background-color:#d9d9d9;
    padding:20px;
}